.orderPage {
  max-width: 960px;
  margin-top: 30px;
  padding-bottom: 50px;
  .orderPage__title {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  .orderPage__content {
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
  }
}

@media (max-width: 992px) {
  .orderPage {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .orderPage {
    max-width: 90%;
    .orderPage__content {
      flex-direction: column-reverse;
      grid-gap: 50px;
      .orderSummary {
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 576px) {
  .orderPage {
    max-width: 100%;
    padding: 0 16px;
    // .orderPage__content {
    // }
  }
}
