@import "../../Helper/variable.scss";
.dropdown__text {
  padding: 6.43px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.14px;
  color: $darkgrayColor;
}
.dropdown__btn {
  // margin-left: 5px;
  // margin-top: 5px;
  button {
    @extend .dropdown__text;
    border: 1px solid #b4b4bb;
    box-sizing: border-box;
    border-radius: 4px;
    background: none;
  }
  .dropdown__item {
    @extend .dropdown__text;
    font-weight: 400;
  }
}
