.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.0075em;
    color: #5A5B6A !important;
}

.circularDiv {
    background-color: #EDEDF0;
    border-radius: 99px;
}

.general-btn {
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 4px;
}