@import "../../Helper/variable.scss";
.active {
  color: red !important;
}

.category {
  text-decoration: none;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 4px;
    padding: 8px 10px 4px;
    p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.018em;
      color: #787885;
      margin: 0;
    }
  }
}
